<h3>Password validation sample</h3>

<pre>
    &lt;passwordA
        jcr:primaryType="nt:unstructured"
        sling:resourceType="granite/ui/components/foundation/form/password"
        fieldLabel="No validation"
        fieldDescription="No validation"
        name="./passwordA"/&gt;
    &lt;passwordB
        jcr:primaryType="nt:unstructured"
        sling:resourceType="granite/ui/components/foundation/form/password"
        fieldLabel="Required, Min &amp; Max length"
        fieldDescription="Required, Min &amp; Max length"
        required="{Boolean}true"
        minlength="{Long}6"
        maxlength="{Long}10"
        name="./passwordB"/&gt;
    &lt;passwordC
        jcr:primaryType="nt:unstructured"
        sling:resourceType="granite/ui/components/foundation/form/password"
        fieldLabel="Email"
        fieldDescription="Email"
        required="{Boolean}true"
        pattern="email"
        name="./passwordC"/&gt;
    &lt;passwordD
        jcr:primaryType="nt:unstructured"
        sling:resourceType="granite/ui/components/foundation/form/password"
        fieldLabel="Custom Regex"
        fieldDescription="Custom Regex for social security number must match ^\\d{3}-\\d{2}-\\d{4}$"
        required="{Boolean}true"
        pattern="^\\d{3}-\\d{2}-\\d{4}$"
        name="./passwordD"/&gt;
    &lt;passwordE
        jcr:primaryType="nt:unstructured"
        sling:resourceType="granite/ui/components/foundation/form/password"
        fieldLabel="URL with active validation"
        fieldDescription="Start typeing &quot;http://www.adobe.com&quot; and notice the validation happens on keypress rather than on blur."
        required="{Boolean}true"
        activeValidation="{Boolean}true"
        pattern="url"
        name="./passwordE"/&gt;
</pre>